<div class="container p-5">
  <div class="card-category card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 300, crop: :fill %>')">
    <%= @cocktail.name %>
  </div>
  <div class="container">
  <%= link_to 'Back', root_path, class: 'btn btn-ghost mt-3' %>
  </div>
</div>

<div class="container p-5">
  <div class="row">
    <div class="col-6 new-form">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <% if @dose.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @dose.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h5 class="text-center">Create a dose</h5>
        <%= f.input :description %>
        <%= f.association :ingredient  %>
        <%= f.button :submit, value: 'Add', class: 'btn btn-ghost' %>
      <% end %>
    </div>
    <div class="col-6">
      <% @cocktail.doses.each do |dose| %>
      <div class="card-product my-2 rounded">
        <%= cl_image_tag(dose.cocktail.photo) %>
        <div class="card-product-infos">
          <%= link_to dose_path(dose, cocktail_id: @cocktail.id), method: "delete", data: {confirm: "Are you sure?"}, class: 'card-info-del' do %>
            <i class="fas fa-times fa-xs"></i>
          <% end %>
          <h2>Dose</h2>
          <p><%= @cocktail.name %></p>
          <p><strong><%= dose.description %> <%= dose.ingredient.name.capitalize %></strong></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
